---
import '@/styles/global.scss';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const { title, description, noindex = false } = Astro.props;

const pathname = Astro.url.pathname;
const nowUrl = `https://dgdgdgdg.com${pathname}`;

const titleLong =
  pathname === '/'
    ? `dgdgdgdg | 宮城県でデザイン、映像制作、Web制作をしている"だがし"です。`
    : `${title} | dgdgdgdg`;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/favicon.ico" />
    <title>{titleLong}</title>

    {
      noindex ? (
        <meta name="robots" content="noindex" />
      ) : (
        <>
          <meta name="description" content={description} />
          <meta property="og:url" content={nowUrl} />
          <meta property="og:title" content={titleLong} />
          <meta property="og:description" content={description} />
          <meta
            property="og:image"
            content="https://dgdgdgdg.com/images/ogp.webp"
          />
          <meta property="fb:admins" content="2006199369534363" />
          <meta name="twitter:creator" content="@dg4_design" />
          <meta name="twitter:card" content="summary_large_image" />
          <meta
            name="twitter:image"
            content="https://dgdgdgdg.com/images/ogp.webp"
          />
        </>
      )
    }
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
